# ╭─────────────────────────Commonly Used ImplementationGuide Properties───────────────────────────╮
# │  The properties below are used to create the ImplementationGuide resource. The most commonly   │
# │  used properties are included. For a list of all supported properties and their functions,     │
# │  see: https://fshschool.org/docs/sushi/configuration/.                                         │
# ╰────────────────────────────────────────────────────────────────────────────────────────────────╯
id: fhir.paciosampledata
canonical: http://mitre.org/paciowg
name: PACIOSampleData
title: PACIO Sample Data Depot
description: Repository of sample data for the PACIO project
status: draft # draft | active | retired | unknown
version: 0.1.0
fhirVersion: 4.0.1 # https://www.hl7.org/fhir/valueset-FHIR-version.html
copyrightYear: 2023+
releaseLabel: draft # ci-build | draft | qa-preview | ballot | trial-use | release | update | normative+trial-use
# license: CC0-1.0 # https://www.hl7.org/fhir/valueset-spdx-license.html
# jurisdiction: urn:iso:std:iso:3166#US "United States of America" # https://www.hl7.org/fhir/valueset-jurisdiction.html

publisher:
  name: MITRE
  url: http://www.mitre.org

dependencies:
  hl7.fhir.us.core: 6.1.0
  hl7.fhir.uv.extensions: 1.0.0
  hl7.terminology: 5.4.0
  us.nlm.vsac:
    uri: 'http://fhir.org/packages/us.nlm.vsac/ImplementationGuide/us.nlm.vsac'
    version: 0.22.0
    id: vsac
  hl7.fhir.us.smp:
    id: smp
    uri: http://hl7.org/fhir/us/smp/ImplementationGuide/hl7.fhir.us.smp
    version: 1.0.0
  hl7.fhir.us.mcode:
    id: mcode
    uri: http://hl7.org/fhir/us/mcode/ImplementationGuide/hl7.fhir.us.mcode
    version: 4.0.0
  hl7.fhir.us.pacio-pfe:
    id: pfe
    uri: http://hl7.org/fhir/us/pacio-pfe/ImplementationGuide/hl7.fhir.us.pacio-pfe
    version: 2.0.0
  hl7.fhir.us.pacio-toc:
    id: toc
    uri: http://hl7.org/fhir/us/pacio-toc/ImplementationGuide/hl7.fhir.us.pacio-toc
    version: 1.0.0-ballot

parameters:
   excludettl: true

menu:
  Home: index.html
  Artifacts: 
    Artifacts by Group: artifacts_grouping.html
    Artifact Index: artifacts.html
  Storyboard:
    Betsy Smith-Johnson: pacio_persona_betsySmithJohnson.html
  Style Guide: style_guide.html
  Release Notes: release_notes.html
  Downloads: downloads.html

pages:
  artifacts_grouping.md:
    title: Artifacts by Group Categories
  index.md:
    title: PACIO Sample Data Repository
  style_guide.md:
    title: Examples Style Guide
  pacio_persona_betsySmithJohnson.md:
    title: Betsy Smith-Johnson - Stroke Use Case
  release_notes.md:
    title: Release Notes
  downloads.md:
    title: Downloads

contact:
  - name: May Terry
    telecom:
      - system: email # phone | fax | email | pager | url | sms | other
        value: mayT@mitre.org
        use: work

instanceOptions:
  manualSliceOrdering: true # true | false
